body {
  background-color: #c7ffd8;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
h1 {
  color: #00af91;
}
h3 {
  color: #00af91;
}
